<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="keywords" content="GSHS,TeX,LaTeX,Society,GitHub,contribute,template,경기과학고,레이텍,라텍,텍,사용자협회,협회,깃허브,기여,양식">
  <meta name="author" content="GSHS TeX Society(경기과학고 텍 사용자협회)">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/fa/css/font-awesome.css" | prepend: site.baseurl }}">
  <script src="{{ "/js/vgwort.js" | prepend: site.baseurl }}"></script>
  <!--[if lt IE 9]>
    <script src="{{ "/js/html5shiv.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/html5shiv-printshiv.js" | prepend: site.baseurl }}"></script>
  <![endif]-->
  {% include cookieconsent.html %}
</head>
